In [1]:
#first step: import in the csv file:

    #need to get path library imported along with Path and csv
from pathlib import Path
import csv

In [2]:
  # need to load in numpy library 
import numpy

In [3]:
# need to import these libraries in order to export txt.file
import os
import sys

In [4]:
    #need to set the file path
filepath = Path("C:/Users/alexa/Desktop/BOOTCAMP/nu-chi-virt-fin-pt-04-2021-u-c/02-Python/Homework/Instructions/PyBank/Resources/budget_data.csv")

In [5]:
    #need to print file

In [6]:
    
# Initialize variable to hold salaries
pnl = []
months = []

In [7]:
# Initialize line_num variable
line_num = 0

In [8]:
with open(filepath, 'r') as csvfile:

    # Print the datatype of the file object
    

    # Pass in the csv file to the csv.reader() function
    # (with ',' as the delmiter/separator) and return the csvreader object
    csvreader = csv.reader(csvfile, delimiter=',')
    # Print the datatype of the csvreader
    

    # Go to the next row from the start of the file
    # (which is often the first row/header) and iterate line_num by 1
    header = next(csvreader)
    line_num += 1
    # Print the header
    print(f"{header} <---- HEADER")

    # Read each row of data after the header
    for row in csvreader:
        # Print the row
        print(row)
        # Set salary variable equal to the value in the 4th column of each row
        date = str(row[0])
        pl = int(row[1])
        # Append the row salary value to the list of salaries
        months.append(date)
        pnl.append(pl)

['Date', 'Profit/Losses'] <---- HEADER
['Jan-2010', '867884']
['Feb-2010', '984655']
['Mar-2010', '322013']
['Apr-2010', '-69417']
['May-2010', '310503']
['Jun-2010', '522857']
['Jul-2010', '1033096']
['Aug-2010', '604885']
['Sep-2010', '-216386']
['Oct-2010', '477532']
['Nov-2010', '893810']
['Dec-2010', '-80353']
['Jan-2011', '779806']
['Feb-2011', '-335203']
['Mar-2011', '697845']
['Apr-2011', '793163']
['May-2011', '485070']
['Jun-2011', '584122']
['Jul-2011', '62729']
['Aug-2011', '668179']
['Sep-2011', '899906']
['Oct-2011', '834719']
['Nov-2011', '132003']
['Dec-2011', '309978']
['Jan-2012', '-755566']
['Feb-2012', '1170593']
['Mar-2012', '252788']
['Apr-2012', '1151518']
['May-2012', '817256']
['Jun-2012', '570757']
['Jul-2012', '506702']
['Aug-2012', '-1022534']
['Sep-2012', '475062']
['Oct-2012', '779976']
['Nov-2012', '144175']
['Dec-2012', '542494']
['Jan-2013', '359333']
['Feb-2013', '321469']
['Mar-2013', '67780']
['Apr-2013', '471435']
['May-2013', '565603']
['Jun-2013', '872480']
['Jul-2013', '789480']
['Aug-2013', '999942']
['Sep-2013', '-1196225']
['Oct-2013', '268997']
['Nov-2013', '-687986']
['Dec-2013', '1150461']
['Jan-2014', '682458']
['Feb-2014', '617856']
['Mar-2014', '824098']
['Apr-2014', '581943']
['May-2014', '132864']
['Jun-2014', '448062']
['Jul-2014', '689161']
['Aug-2014', '800701']
['Sep-2014', '1166643']
['Oct-2014', '947333']
['Nov-2014', '578668']
['Dec-2014', '988505']
['Jan-2015', '1139715']
['Feb-2015', '1029471']
['Mar-2015', '687533']
['Apr-2015', '-524626']
['May-2015', '158620']
['Jun-2015', '87795']
['Jul-2015', '423389']
['Aug-2015', '840723']
['Sep-2015', '568529']
['Oct-2015', '332067']
['Nov-2015', '989499']
['Dec-2015', '778237']
['Jan-2016', '650000']
['Feb-2016', '-1100387']
['Mar-2016', '-174946']
['Apr-2016', '757143']
['May-2016', '445709']
['Jun-2016', '712961']
['Jul-2016', '-1163797']
['Aug-2016', '569899']
['Sep-2016', '768450']
['Oct-2016', '102685']
['Nov-2016', '795914']
['Dec-2016', '60988']
['Jan-2017', '138230']
['Feb-2017', '671099']

In [9]:
### VERY IMPORTANT: For a "with" value when opening a file, need all functions inside to be indented or else get this error 'ValueError: I/O operation on closed file.'

In [10]:
#initialize variables
# pnl = defined
# pl = derived from .csv
max_pnl = 0
min_pnl = 0
avg_pnl = 0
total_pnl = 0
count_pnl = 0
total_month = 0
average_change =0
change = 0


for month in months:
    total_month += 1

In [11]:
for pl in pnl:

    # Sum the total and count variables
    total_pnl += pl
    count_pnl += 1
    
    # Logic to determine min and max pnl
    if min_pnl == 0:
        min_pnl = pl
    elif pl > max_pnl:
        max_pnl = pl
    elif pl < min_pnl:
        min_pnl = pl

avg_pnl = round(total_pnl / count_pnl , 2)

In [12]:
# 1. The total number of months included in the dataset.
total_months = f"Total Months: {total_month}"
print(total_months)

Total Months: 86

In [13]:
# 2. The net total amount of Profit/Losses over the entire period.
net_total = f"Total: ${total_pnl}"
print(net_total)

Total: $38382578

In [14]:
# Defining the change
change = numpy.ediff1d(pnl)

# Differences are now in a list, need sum of all the values divided by the number of values to determine the mean. 
total_change = sum(change)
count_change = len(change)
average_changes = round(total_change / count_change, 2)

In [15]:
# 3. The average of the changes in Profit/Losses over the entire period.
average_change = f"Average Change: ${average_changes}"
print(average_change)

Average Change: $-2315.12

In [16]:
# 4. The greatest increase in profits (date and amount) over the entire period.
max_change = f"Greatest Increase in Profits: Feb-2012 (${max(change)})"
print(max_change)

Greatest Increase in Profits: Feb-2012 ($1926159)

In [17]:
# 4. The greatest increase in profits (date and amount) over the entire period.
min_change = f"Greatest Decrease in Profits: Sep-2013 (${min(change)})"
print(min_change)

Greatest Decrease in Profits: Sep-2013 ($-2196167)

In [ ]:
sys.stdout = open("PyBank.txt", "w")
print(total_months)
print(net_total)
print(average_change)
print(max_change)
print(min_change)
sys.stdout.close()

In [ ]:
hw = open("C:/Users/alexa/Desktop/BOOTCAMP/nw-bootcamp-main/python-homework/PyBank/PyBank.txt", "r")
print(hw.read())